@model PagedList.IPagedList<DeliveryService.Models.ClientModel>
@using PagedList.Mvc;
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/AdminContent/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/toastr/toastr.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">

}
@section js_Requested{
    <script src="~/Content/AdminContent/vendor/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Content/AdminContent/vendor/toastr/toastr.min.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/DataTables/jquery.dataTables.min.js"></script>

}
@section js_Handler
{
    <script src="~/Content/AdminContent/assets/js/ui-notifications.js"></script>
    <script src="~/Content/AdminContent/assets/js/table-data.js"></script>
    <script>
    jQuery(document).ready(function () {
        Main.init();
        TableData.init();
        UINotifications.init("@ViewBag.jsNotifyMessage");
    });

    $("a[id^='PipoModalLink_']").click('action', function () {
        var temp = $(this).attr('id').split("_");
        var myid = temp[1];
        $("#PipoModalBody").empty();
        $("#PipoModalBody").append('<p> @Resource.Resource.View_AreYouShure' + ' (#' + myid + ')</p>');
        var $self = $("#PipoModalForm");
        $self.attr('action', '/Admin3mill/Client/ChangeDisplayClient?ClientId=' + myid+"&Page="+'@ViewBag.Pagination');
    });


    $("a[id^='PipoModalLink2_']").click('action', function () {
        var temp2 = $(this).attr('id').split("_");
        var myid2 = temp2[1];
        $("#PipoModalBody2").empty();
        $("#PipoModalBody2").append('<p> @Resource.Resource.View_AreYouShure' + ' (#' + myid2 + ')</p>');
            var $self = $("#PipoModalForm2");
            $self.attr('action', '/Admin3mill/Client/DeleteClient?ClientId=' + myid2+"&Page="+'@ViewBag.Pagination');
        });
    </script>
}
@{
    string color = "#9fda9f";
}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: DYNAMIC TABLE -->
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover" id="sample-table-1">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName(Resource.Resource.Client_ID)</th>
                                <th>@Html.DisplayName(Resource.Resource.Client_FirstName)</th>
                                <th>@Html.DisplayName(Resource.Resource.Client_LastName)</th>
                                <th>@Html.DisplayName(Resource.Resource.Client_Address)</th>
                                <th>@Html.DisplayName(Resource.Resource.Client_UserName)</th>
                                <th class="center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Status != true)
                                {
                                    color = "#da9f9f";
                                }
                                else
                                {
                                    color = "#9fda9f";
                                }
                                <tr style="background-color:@color">
                                    <td>@item.ID</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Address</td>
                                    <td>@item.UserName</td>
                                    <td>
                                        <a href="@Url.Action("DetailClient", "Client", new { ClientId = item.ID })" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="جزئیات"><i class="fa fa-desktop"></i></a>
                                        <a id="PipoModalLink_@item.ID" class="btn btn-transparent btn-xs tooltips" data-toggle="tooltip" data-placement="top" title="تغییر وضعیت نمایش"><i class="fa fa-times fa-white" data-toggle="modal" data-target="#PipoModal"></i></a>
                                        <a id="PipoModalLink2_@item.ID" class="btn btn-transparent btn-xs tooltips" data-toggle="tooltip" data-placement="top" title="حذف"><i class="fa fa-trash" data-toggle="modal" data-target="#PipoModal2"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>



                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 margin-right-20"></div>
                <div class="col-md-4 margin-right-30">
                    <div class="pagination pagination-green margin-bottom-10 center">
                        صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("ListClients", "Client", new { page }))
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- end: DYNAMIC TABLE -->
        @*Default Modal*@
        <div class="modal fade" id="PipoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title center" id="myModalLabel">
                            <img src="~/Content/AdminContent/z3mill/alert-icon.png" alt="Alert" height="81" width="90" />
                        </h4>
                    </div>
                    <div id="PipoModalBody" class="modal-body">
                        @Resource.Resource.View_AreYouShure
                    </div>
                    @using (Html.BeginForm("ChangeDisplayClient", "Client", new { PostId = "_postid_", Page = ViewBag.PaginationCount }, FormMethod.Post, new { Id = "PipoModalForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                                @Resource.Resource.View_Close
                            </button>
                            <button type="submit" class="btn btn-danger">
                                @Resource.Resource.View_Yes
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*/Default Modal*@



        @*Default Modal2*@
        <div class="modal fade" id="PipoModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title center" id="myModalLabel">
                            <img src="~/Content/AdminContent/z3mill/alert-icon.png" alt="Alert" height="81" width="90" />
                        </h4>
                    </div>
                    <div id="PipoModalBody" class="modal-body">
                        @Resource.Resource.View_AreYouShure
                    </div>
                    @using (Html.BeginForm("DeleteClient", "Client", new { ClientId = "_postid_", Page = ViewBag.PaginationCount }, FormMethod.Post, new { Id = "PipoModalForm2" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                                @Resource.Resource.View_Close
                            </button>
                            <button type="submit" class="btn btn-danger">
                                @Resource.Resource.View_Yes
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*/Default Modal2*@
    </div>

</div>
